DATABASE_URL="mongodb+srv://user:pass@cluster.mongodb.net/viralvault?retryWrites=true&w=majority"
NEXTAUTH_SECRET="replace-with-32-char-min-secret"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
ADMIN_EMAIL="admin@viralvault.com"
ADMIN_PASSWORD="ChangeMe123!"
